<div class="card mb-3">
  <h2 class="card-header h4">
    Url #<%= url.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Url</dt>
      <dd><%= url.url %></dd>

      <dt>User</dt>
      <dd>
        <% if @url.user.present? %>
          <%= link_to url.user, url.user %>
        <% end %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back url, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <% if current_user == @url.user %>
          <%= link_to edit_url_url(url), class: "btn btn-block btn-sm btn-outline-secondary" do %>
            <i class="fas fa-edit"></i>
          <% end %>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @url.user %>
          <%= link_to url, method: :delete, data: { confirm: "Do you really want to delete this url?" }, class: "btn btn-block btn-outline-secondary" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(url.updated_at) %> ago
  </div>
</div>
